@import '../components/todo-list/todo-list.styl'
@import '../components/todo-list-item/todo-list-item.styl'
@import '../components/app-header/app-header.styl'
@import '../components/item-add-form/item-add-form.styl'
@import '../components/modal/modal.styl'


body
    position relative
    .App
        max-width 1200px
        margin 0 auto
        display: flex

        .todo-app
            margin 2rem auto 0 auto
            min-width 400px
            .top-panel
                margin 1rem 0